<div class="main">
  <div class="Shopping-Cart">
    <div class="m-1">
      <h1 class="text-primary">Shopping Cart</h1>
  <h6 class="text-success">you Have {{cartList.length}} item in your cart</h6>
      <div class="d-flex w-100 justify-content-end"><button (click)="clearChart()" class="btn btn-outline-danger">Clear Chart</button></div>
    </div>
    <hr />
    <table class="table table table-striped">
      <thead>
        <tr class="text-center">
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let item of cartList ; let i = index">
          <th><img src="{{ item.product.image }}" alt="{{ item.product.image }}" height="120" width="120"></th>
          <td>{{ item.product.title }}</td>
          <td>{{ item.product.price }}</td>
          <td>
            <div class="d-flex justify-content-center gap-2">
              <button (click)="UpdateQuantity(2,i)" class="btn btn-dark">-</button>
              <input value="{{ item.quantity }}" [(ngModel)]="item.quantity" class="form-control text-center w-25" />
              <button (click)="UpdateQuantity(1,i)" class="btn btn-dark">+</button>
            </div>
          </td>
          <td>{{ item.product.price * item.quantity }}</td>
          <td><button [swal] = "deleteSwal" (confirm)="deleteProduct(i)" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <div class="table-end">
      <div><b>Total:</b> <span> {{total}} LE</span></div>
      <div><button [swal]="ConfirmSwal" [disabled]="cartList.length == 0" [ngClass]="cartList.length == 0 ? 'btn btn-danger' : 'btn btn-success' ">Order now</button></div>
    </div>
    <!-- <div *ngIf="IsDone"class="alert alert-success mt-2" role="alert">
      Order Added successfully
    </div> -->
  </div>
</div>

<swal
  #ConfirmSwal
  title="Confirm Order"
  text="are you sure you want to confirm this order?"
  icon="question"
  [showCancelButton]="true"
  [focusConfirm]="true"
  confirmButtonColor="#198754"
  cancelButtonColor="#dc3545"
  (confirm)="orderNow()"
  >
</swal>

<swal
  #deleteSwal
  title="delete Product"
  text="are you sure you want to Delete this product"
  icon="warning"
  [showCancelButton]="true"
  [focusConfirm]="true"
  confirmButtonColor="#198754"
  cancelButtonColor="#dc3545"
  >
</swal>

