.card {
  height:500px ;
  align-items: center;
  margin-bottom: 20px;
  text-overflow: clip;
  transition: all .2s ease-out;
}
.card:hover {
transform:scale(1.04);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card img{
  max-height: 200px;
  max-width: 200px;
}
.more{
  cursor: pointer;
  color: #c1c1c1;
}
